<div class="clearfix"></div>

<div id="footerAbout" *ngIf="isReady">
  <div class="col-md-10 col-md-offset-1 text-center">
    <img src="./assets/brand/grey-brand.png" style="height: 145px; margin-top: 25px" alt="">
  </div>
  <div class="clearfix"></div>
</div>

<div style="width: 100%">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <img id="footerBrand" src="./assets/cochise.png" alt="">
        </div>
      </div>
    </div>
  </footer>
</div>
