footer {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #19270f;
  z-index: 9999;
  position: fixed;
  bottom: 0;
  width: inherit;
  border-top: 2px solid #141f0c;
}
#footerWrapper {
  width: 100%
}
#footerBrand {
  max-height: 35px;
}
h1,h2,h3,h4,h5,h6 {
  color: #FFF !important;
  font-family: 'Maven Pro', sans-serif !important;
}
#footerAbout {
  width: 100%;
  background-color: #2f3c26;
  padding-bottom: 15px;
  border-top: 2px solid #46523e;
  margin-bottom: 45px;
}
#footerList li {
  color: #FFF;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 1.2em;
}
