#topBar {
  position: fixed;
  top: 0;
  left: 0;
  width: inherit;
  height: 39px;
  background-color: #19270f;
  z-index: 1000;
}
#topBar ul {
  margin-left: -50px !important;
}
#topBar ul li {
  display: inline-block;
  line-height: 39px;
  font-weight: 300;
  margin-right: 15px;
  text-transform: uppercase;
  color: #FFF;
  padding-right: 15px;
  padding-left: 15px;
}
#topBar ul li:hover {
  cursor: pointer;
  background-color: #4f5f44;
}
#topBar .col-md-4 ul li:hover {
  background-color: transparent;
}
#topBar .col-md-4 ul li {
  margin-right: -25px;
}
#topBar .col-md-4 ul li img {
  padding-left: 5px;
  padding-right: 5px;
  height: 21px;
  margin-top: -4px;
}
