<div id="topMenu">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="brandImages" id="mainBrandImage" src="./assets/brand/white-brand.png" alt="">
        <img class="brandImages" id="mainBrandImageWithName" src="./assets/brand/white-horizontal-brand.png" alt="">
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12">
        <div id="mainCallToAction">
          <h1>
            <strong>Vila Buenos Aires</strong>
          </h1>
          <h2>
            <strong>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
              Nulla dictum at lacus vel sagittis.
            </strong>
          </h2>
          <button class="btn btn-vargas">Ver Empreendimento</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="mainCover"></div>

