<div *ngIf="ready">
  <div id="sliderOverlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img class="brandImages" id="mainBrandImage" src="./assets/brand/white-brand.png" alt="">
          <img class="brandImages" id="mainBrandImageWithName" src="./assets/brand/white-horizontal-brand.png" alt="">
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
          <div id="mainCallToAction">
            <h1>
              <strong>{{activeSlide['slide_nome']}}</strong>
            </h1>
            <div class="col-md-8">
              <h2>
                <strong>
                  {{activeSlide['slide_sub']}}
                </strong>
              </h2>
            </div>
            <div class="clearfix"></div>
            <a href="{{activeSlide['slide_url']}}"></a>
            <button class="btn btn-vargas">{{ 'SLIDER.CHECK_PROPERTY' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="mainCover" [ngStyle]="{'background': 'url(' + mediaBaseUrl + activeSlide['slide_foto'] + ')'}"></div>
</div>

<div class="nav-icons" id="navLeft" (click)="navigate('previous')">
  <img src="./assets/nav/006-previous.svg" alt="" />
</div>
<div class="nav-icons" id="navRight" (click)="navigate('next')">
  <img src="./assets/nav/005-skip.svg" alt="" />
</div>
